li {
    list-style: none;
    margin: 0px;
}

h3 {
    font-family: 'Fredoka', sans-serif;
    color: rgb(66, 221, 221);
    font-size: 2.3rem;
    margin: 0px;
    margin-top: 30px;
}

.writings {
    display: flex;
    flex-direction: column;
    height: 18em;
    align-items: center;
    justify-content: center;
}

#contactForm
{
    /* clear: both; */
    /* width: 100%; */
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    /* background-color: red; */
}

#contactForm input, #contactForm textarea
{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    background-color: rgb(157, 0, 172);
    color: white;
    font-weight: bold;
}

#contactForm form
{
    width: 35%;
}

.con{
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5rem;
    width: 100%;
    margin: 0;
}

.contactElement
{
    margin-bottom: 4%;
}

#submit
{
    width: 100%;
    /* background-color: red; */
    align-items: center;
}

#submit button
{
    width: 100%;
    align-items: center;
    height: 50px;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
    background-color: rgb(67, 196, 196);
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid black;
    background-image: linear-gradient(to right, rgb(157, 0, 172), rgb(231, 253, 253));

}

#submit button:hover
{
    /* transition-delay: 2s; */
    background-image: linear-gradient(to right, rgb(231, 253, 253), rgb(157, 0, 172));
}