* {
    border: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    /* position: relative; */
    background-color: rgb(231, 253, 253);
}

#navitems {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 15px;
}

.navlink {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-family: 'League Gothic', sans-serif;
    background-color: rgb(218, 214, 214);
    padding: 8px;
    border: 2px solid black;
    border-radius: 9px;
}

.active {
    color: black;
    background-color: white;
    padding: 15px;
    border: 2px solid white
}

.navlink:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
    transition-duration: .85s;
}

.navigation {
    margin-top: 0px;
    background-color: rgb(101, 1, 110);
}

.nav {
    padding: 10px;
    list-style: none;
    margin: 0px;
}

.writings {
    display: flex;
    flex-direction: column;
    height: 10em;
    align-items: center;
    justify-content: center;
}

.main {
    font-size: 6.0rem;
    font-family: 'Fredoka', sans-serif;
    color: rgb(67, 196, 196);
    margin: 0px;
}

.center {
    width: 100%;
    text-align: center;
}

p {
    font-size: 1.4rem;
    margin: 0;
}

h3 {
    font-family: 'Fredoka', sans-serif;
    color: rgb(66, 221, 221);
    font-size: 2.3rem;
    margin: 0px;
    margin-bottom: 2%; 
    margin-top: 6%;
    /* margin-top: 50%; */
}
/* 
h3 {
    font-family: 'Fredoka', sans-serif;
    color: rgb(66, 221, 221);
    font-size: 2.3rem;
    margin: 0px;
    margin-top: 30px;
} */


.element {
    display: inline;
    padding: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 10%;
    height: 10%;
    background-color: purple;
    border: 4px solid white;
    font-family: 'League Gothic', sans-serif;
    font-size: 2em;
    color: white;
}

.element:hover#pre{
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    /* padding: 5px; */
    color: black;
    background-color: white;
    border: 4px solid black;
    transition-duration: 0.5s;
}

.element:hover#nex {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    /* padding: 5px; */
    color: black;
    background-color: white;
    border: 4px solid black;
    transition-duration: 0.5s;
}

#pre {
    float: left;
    margin-left: 2%;
}

#nex {
    margin-right: 2%;
    float: right;
    /* border: 4px solid rgb(110, 110, 110); */
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-bottom: 0px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-family: 'Fredoka', sans-serif;
    /* position:fixed; */
    /* bottom: 0; */
    clear: both;
}