* {
    border: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    /* position: relative; */
    background-color: rgb(231, 253, 253);
}

.main {
    font-size: 6.0rem;
    font-family: 'Fredoka', sans-serif;
    color: rgb(67, 196, 196);
    margin: 0px;
}

.center {
    width: 100%;
    text-align: center;
}

#navitems {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 15px;
}

.navlink {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-family: 'League Gothic', sans-serif;
    background-color: rgb(219, 213, 213);
    padding: 8px;
    border: 2px solid black;
    border-radius: 9px;
}

.navlink:hover {
    color: white;
    background-color: rgb(70, 64, 64);
}

.active {
    color: white;
    background-color: black;
    padding: 15px;
}

.nav {
    padding: 10px;
}

.navigation {
    margin-top: 0px;
    background-color: rgb(204, 199, 199);
}

li {
    list-style: none;
    margin: 0px;
}

p {
    font-size: 1.4rem;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 30%;
    box-sizing: border-box;
    margin: 0px 35px;
    padding: 20px;
    background-color: rgb(209, 250, 250);
    margin-bottom: 20px;
    border: 4px solid rgb(11, 221, 236);
    border-radius: 25px;
}

/* 
.box:hover {
    width: 33%;
} 
*/

img {
    margin: auto;
    width: 100%;
    height: 275px;
}

.boxtext {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.6rem;
}

.imgcontent {
    margin: 0px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Fredoka', sans-serif;
    color: rgb(66, 221, 221);
    font-size: 2.3rem;
    margin: 0px;
    margin-top: 30px;
}

.writings {
    display: flex;
    flex-direction: column;
    height: 18em;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.element {
    display: inline;
    padding: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 10%;
    height: 10%;
    background-color: rgb(189, 98, 98);
    font-family: 'League Gothic', sans-serif;
    font-size: 2em;
    color: black;
}

.element:hover#pre {
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    color: black;
    background-color: rgb(209, 250, 250);
    border: 4px solid black;
}

.element:hover#nex {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    color: black;
    background-color: rgb(209, 250, 250);
    border: 4px solid black
}

#pre {
    float: left;
    margin-left: 2%;
    border: 4px solid rgb(110, 110, 110);
}

#nex {
    margin-right: 2%;
    float: right;
    border: 4px solid rgb(110, 110, 110);
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-bottom: 0px;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-family: 'Fredoka', sans-serif;
    clear: both;
}